<style type="text/css">a {text-decoration: none}</style>
<style type="text/css">a:link {
   color:red;
}</style>
<ul>
  <% Playlist.sort.each do |song| %>
  <li> <%= song.upvote_count %> - <a href="/songs/<%= song.slug %>/upvote"> ↑ </a>   <%= song.spotify_id %>  </li>
  <% end %>
</ul>
<br>

<form action="/spotify" method="get">
  <input type="text" name="search" placeholder="enter something">
  <input type="submit" value="search">
</form>

<% if @query %>
  <a href="/playlist/add/<%= @query[:uri] %>"><%= @query[:song_name] %></a>
<% end %>